<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application android:label="TallyBridge" android:theme="@style/AppTheme"
        android:icon="@drawable/app_icon" android:allowBackup="false"
        android:fullBackupContent="false" android:usesCleartextTraffic="false"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".PdfProvider" android:authorities="in.tallybridge.app.pdf"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
